.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    max-width: 760px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;

    img {
      height: 50px;
      object-fit: contain;
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    height: auto; // Adjust height for smaller screens
    padding: 10px;

    .container {
      flex-direction: column; // Stack items vertically
      gap: 10px;

      img {
        height: 40px; // Reduce image size
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      max-width: 100%; // Use full width for very small screens
      text-align: center;

      img {
        height: 30px; // Further reduce image size
      }
    }
  }
}